/*
bluegreen: #197994
lightgreen: #198f94
red: #cc393b

marker_blue: #38a9dc
marker_orange: #ec902e
marker_green: #71af26
*/

.green {
  fill: #71af26;
  color: #71af26;
}

.orange {
  fill: #ec902e;
  color: #ec902e;
}

.red {
  fill: red;
  color: red;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
  width: 100%;
  background-color: rgba(255,255,255,0.7);
}

header h1 {
  background: url(/img/logo.png) no-repeat 0 1rem;
  height: 90px;
  text-indent: -9999px;
  display: block;
  width: 90px;
  margin: 0 auto;
  padding: 0;
}

h2 {
  font-size: 1.3rem;
}

#sidebar svg,
.leaflet-popup svg {
  width: 30px;
  height: 30px;
}

#map {
  height: 100vh;
  width: 100vW;
}

.leaflet-popup {
  cursor: pointer;
}

.popup_link:hover {
  text-decoration: underline;
}

.outdoors{
    background-size: cover;
    background-image: url('https://api.mapbox.com/v4/mapbox.outdoors/auto/240x120.png?access_token=tk.eyJ1IjoieWFtaWxhIiwiZXhwIjoxNDgyMjc4MjAzLCJpYXQiOjE0ODIyNzQ2MDIsInNjb3BlcyI6WyJtYXA6cmVhZCIsIm1hcDp3cml0ZSIsInVzZXI6cmVhZCIsImRhdGFzZXRzOnJlYWQiLCJkYXRhc2V0czp3cml0ZSJdLCJjbGllbnQiOiJtYXBib3guY29tIiwibGwiOjE0ODIyNDI4MDQwMjEsIml1IjpudWxsfQ.5w3NgkiIRX1tdLJWZ38gPg');
}

.topomap{
    background-size: cover;
    background-image: url('https://c.tile.opentopomap.org/12/2004/1538.png');
}


.leaflet-control-geosearch {
  display:none;
}


.text-search-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.sidebar-pane #search-text {
  flex-grow: 1;
}

.sidebar-pane #search-text-icon {
  cursor: pointer;
  margin-left: 5px;
  line-height: 32px;
}

#filters-title {
  background-color: #197994;
  padding: 5px 10px 5px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 1rem;
}

#routes-title {
  margin-top: 1rem;
  text-align: center;
  background-color: #ccc;
  font-size: 1.3rem;
  padding: 0.5rem;
}

.filter-search-container {
  padding: 2rem;
  text-align: center;
  border: 1px solid #ccc;
  border-top: none;
  display: none;
  margin-bottom: 10px; 
}

.difficulty-search-container,
.uphill-search-container,
.distance-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.activity-search-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.activity-search-container div {
  height: 32px;
  width: 65px;
  text-align: center;
}

.activity-search-container .activity-text {
  width: 64px;
  line-height: 32px;
}

.activity-search {
  cursor: pointer;
  border: 2px solid transparent;
}
.activity-search:hover,
.activity-search.selected {
  padding: 0px;
  background-color: #197994;
  color: #fff;
  fill: #fff;
}

.difficulty-and-loop-container{
  display: flex;
  flex-direction: column;
}

.loop-search-container{
  justify-content: center;
  margin-top: 2rem;
}

.loop-search-container i {
  margin: 0 0.5rem;
}

.search-slider-values-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 90%
}

.search-slider-range{
  width: 90%
}

.sidebar-left .sidebar-content {
  background-color: #eee;
}

#route-detail div {
  padding: 1rem;
  border: 1px solid #ccc;
  margin-top: 1rem;
  background-color: #ddd;
  text-align: center;
}


#route-detail div ul {
  list-style: none;
  padding: 0;
}

#route-detail div li {
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
}

#route-detail div li:last-child {
  border: none;
}

.route-title {
  margin-top: 10px;
  font-size: 16px;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}

.route-title.selected {
  background-color: lightblue;
}

.route-name {
  display: flex;
}

.route-info {
  font-size: 14px;
  color: darkgrey;
  margin-left: 3rem;
  margin-top: 0.3rem;
}

.route-name .title {
  margin-left: 1rem;
}

.info-item {
  margin-right: 10px;
}

.difficulty1, .difficulty2 {
  width: 5px;
  background-color: green;
}

.difficulty3, .difficulty4 {
  width: 5px;
  background-color: orange;
}

.difficulty5 {
  width: 5px;
  background-color: red;
}

.path_time {
  background: url(/img/time.png) no-repeat 0 center transparent;
  padding-left: 30px;
  background-size: 19px 19px;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.path_stars {
  justify-content: space-around;
}

.star {
  background: url(/img/star1.png) no-repeat 0 center transparent;
  width: 30px;
  height: 30px;
}

.star.star2 {
  background: url(/img/star2.png) no-repeat 0 center transparent;
}

.star.star3 {
  background: url(/img/star3.png) no-repeat 0 center transparent;
}

.popup_box {
  display: flex;
  flex-direction: column;
}

.popup_head {
  display: flex;
  margin-bottom: 0.5rem;
}

.popup_head .path_type {
  width: 40px;
}

.popup_head div:last-child {
  display: flex;
  align-self: center;
}

.popup_head + div {
  text-align: center;
}

/*----- COLOR TUNNING -----*/

.sidebar-tabs > li.active, .sidebar-tabs > ul > li.active,
.sidebar-header {
  background-color: #197994;
}
