/*
bluegreen: #197994
lightgreen: #198f94
red: #cc393b
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  top: 0;
  left: 50%;
  position: absolute;
  z-index: 1000;
}

header h1 {
  background: url(/img/logo.png) no-repeat 0 1rem;
  height: 90px;
  text-indent: -999px;
  display: block;
  width: 90px;
  margin: 0 auto;
  padding: 0;
}

h2 {
  font-size: 1.3rem;
}

#map {
  height: 100vh;
  width: 100vW;
}

.leaflet-popup {
  cursor: pointer;
}

.popup_link:hover {
  text-decoration: underline;
}

.outdoors{
    background-size: cover;
    background-image: url('https://api.mapbox.com/v4/mapbox.outdoors/auto/240x120.png?access_token=tk.eyJ1IjoieWFtaWxhIiwiZXhwIjoxNDgyMjc4MjAzLCJpYXQiOjE0ODIyNzQ2MDIsInNjb3BlcyI6WyJtYXA6cmVhZCIsIm1hcDp3cml0ZSIsInVzZXI6cmVhZCIsImRhdGFzZXRzOnJlYWQiLCJkYXRhc2V0czp3cml0ZSJdLCJjbGllbnQiOiJtYXBib3guY29tIiwibGwiOjE0ODIyNDI4MDQwMjEsIml1IjpudWxsfQ.5w3NgkiIRX1tdLJWZ38gPg');
}

.topomap{
    background-size: cover;
    background-image: url('https://c.tile.opentopomap.org/12/2004/1538.png');
}


.leaflet-control-geosearch {
  display:none;
}


.text-search-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.sidebar-pane #search-text {
  flex-grow: 1;
}

.sidebar-pane #search-text-icon {
  cursor: pointer;
  margin-left: 5px;
  line-height: 32px;
}

.filter-search-container {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0 2rem;
  text-align: center;
}

.difficulty-search-container,
.duration-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.difficulty-search-container h3,
.duration-search-container h3 {
  display: flex;
  flex-grow: 1;
  margin-bottom: 0;
}

.activity-search-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.activity-search-container div {
  height: 32px;
  width: 65px;
  text-align: center;
}

.activity-search-container .activity-text {
  width: 64px;
  line-height: 32px;
}

.activity-search-container .activity-icon {
  background-repeat: no-repeat;
  background-position: center center;
}

.activity-search-container .activity-icon.activity-hiking{
  background-image: url('/img/hiking.svg');
}

.activity-search-container .activity-icon.activity-running{
  background-image: url('/img/running.svg');
}

.activity-search-container .activity-icon.activity-mountain-biking{
  background-image: url('/img/biking.svg');
}

.activity-search {
  cursor: pointer;
  border: 2px solid transparent;
}
.activity-search:hover,
.activity-search.selected {
  padding: 0px;
  background-color: #197994;
  color: #fff;
}

.difficulty-and-loop-container{
  display: flex;
  justify-content: space-between;
}

.loop-search-container{
  text-align: left;
  margin-bottom: 10px;
  position: relative;
  top: 25px;
}

.difficulty-search-container{
  flex-grow: 3;
}

.search-slider-values-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 90%
}

.search-slider-range{
  width: 90%
}

.sidebar-left .sidebar-content {
  background-color: #eee;
}

#route-detail div {
  padding: 1rem;
}

#route-detail div ul {
  list-style: none;
  padding: 0;
}

#route-detail div li {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
  display: flex;
}

#route-detail div li:last-child {
  border: none;
}

.route-title {
  margin-top: 10px;
  font-size: 16px;
}

.route-title.selected {
  background-color: lightblue;
}

.route-name {
  display: flex;
  justify-content: space-between;
}

.route-info {
  font-size: 14px;
  color: darkgrey;

}

.route-info .info-item {
  margin-right: 10px;
}

.path_type {
  display: flex;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
}

.path_type.hiking,
.path_type.walking {
  background-image: url('/img/hiking.svg');
}

.path_type.running {
  background-image: url('/img/running.svg');
}

.path_type.mountain-biking,
.path_type.cycling {
  background-image: url('/img/biking.svg');
}

.path_type.other {
  background-image: url('/img/other.svg');
  background-size: 30px 30px;
}

.path_time {
  background: url(/img/time.png) no-repeat 0 center transparent;
  text-indent: 30px;
  background-size: 20px 20px;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.path_stars {
  justify-content: space-around;
}

.star {
  background: url(/img/star1.png) no-repeat 0 center transparent;
  width: 30px;
  height: 30px;
}

.star.star2 {
  background: url(/img/star2.png) no-repeat 0 center transparent;
}

.star.star3 {
  background: url(/img/star3.png) no-repeat 0 center transparent;
}

/*----- COLOR TUNNING -----*/

.sidebar-tabs > li.active, .sidebar-tabs > ul > li.active,
.sidebar-header {
  background-color: #197994;
}

#search-results{
  margin-top:30px;
  border-top: 1px solid black;
}
